<div class="index">
    <h1>Bienvenidos</h1>
    <div class="indexContenedor">
        <a href="/crearProducto" class="boton">Crear un producto</a>
        <a href="/product" class="boton">Listado de productos</a>
        <a href="/api/carts" class="boton">Carrito</a>
    </div>
</div>