<div class="contenedorForm">
    <h2>Login</h2>
    <div class="formulario">
        <form action="/api/sessions/login" method="POST">
            <div class="input">
                <label for="email">E-mail:</label>
                <input type="email" name="email"  id="email" placeholder="a@example.com" required>
            </div>
            <div class="input">
                <label for="password">Contraseña: </label>
                <input type="password" name="password" id="password" required>
            </div>

            <div class="botonesLog">
                <input type="submit" value="Ingresar" class="boton">
                <a href="/register" class="boton">Register</a>
            </div>
        </form>
                        

    </div>
</div>
