<div class="buscar">
    <form action="/product/buscar/" method="GET">
        <input type="text" name="q" placeholder="Buscar productos" value="{{query}}">
        <input type="submit" value="ðŸ”" class="boton">
    </form>
</div>
<h2>Productos</h2>
<div class="container">
    <div>
        <p class="pCart">No se encontraron productos para mostrar</p>
        <a href="/product" class="boton">Todos los productos</a>
    </div>

</div>
