*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.indexContenedor{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
    width: 0 auto;
    height: 60vh;
}

.indexContenedor .boton{
    margin: 10px;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px;
    flex-wrap: wrap;
} 
.card, .detalle, .index{
    color: #CFBFC6;
    background-color:  #07080c;
    text-align: center;
    padding: 10px;
    border: 1px solid   #979BB2;
    border-radius: 10px;
    width: 0 auto;
    margin: 10px;
    justify-items: center
}

.imgCard{
    width: 200px;
    height: 175px;
    margin: 10px;
}


.imgDetalle{
    width: 400px;
    margin: 10px;
}

.detalle p{
    margin: 10px;
}

.btnFiltros{
    margin: 10px 0;
    padding: 10px 0;
}

.btnDetalle{
    margin: 10px;
    padding: 10px;
}

.textCard{
    margin: 10px;
}

.botonesCard{
    height: 150px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.buscar{
    padding: 10px;
    color: #CFBFC6;
    background-color:  #07080c;
    text-align: center;
}

.contenedorFiltros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.buscar input{
    padding: 10px 20px;
}
.contenedorBuscar{
    margin: 0 10px 10px 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #979BB2;

}

.botonS{
    background-color: #0a0a0b;
    text-align: center;
    color: #CFBFC6;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid   #979BB2;
}

.filtros{
    padding: 10px;
    display: flex;
    align-items: center;

}

h3{
    padding: 10px;
}
h1{
    text-align: center;
    border-bottom: 2px solid #f4f1f1;
    color: #CFBFC6;


}

h2{
    text-align: center;
    padding: 10px;
}

.contenedorForm h2{
    border-bottom: 2px solid #f4f1f1;
}



.contenedorForm{
    color: #CFBFC6;
    background-color:  #07080c;
    margin: 10px;
    padding: 5px;
    height: 70vh;
}

.formulario{
    text-align: center;
    display: flex;
    justify-content: center;
}

.formulario form{
    margin: 20px;
    padding: 10px;
}

.input{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}
select{
    width: 165px;
}

label{
    margin: 0 5px;
}

.button-error{
    background-color: red !important;
}
.error-page {
    text-align: center;
    padding: 100px;
    background-color: #f2dede;
    color: #a94442;
}

.error-page h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.error-page p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.error-page a {
    background-color: #b7333eb2;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.container{
    background-color:  #07080c;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.headerCart{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: papayawhip;
    align-items: center;
    padding: 10px 30px 10px 10px;
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;

    
}
.container h2{
    color: #CFBFC6;
}

.pCart{
    color: #CFBFC6;
    margin: 20px;
    padding: 20px;
}

.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 10px;
    margin: 20px;
    font-size: 16px;
    background-color: papayawhip;
    border-radius: 10px;
}

.cartContainer {
    display: flex;
    justify-content: space-between;
}

.cantidad{
    width: 40px;
    text-align: center;
    border: 4px inset;
}

.itemCart {
    font-size: 18px;
    margin: 5px;
}

.titleCart{
    width: 90px;
}


.btn{
    background-color: #0a0a0b;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;

}


.boton {
    background-color: #0a0a0b;
    text-align: center;
    text-decoration: none;
    color: #CFBFC6;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid   #979BB2;

}

.btnCarts{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.total{
    background-color: papayawhip;
    text-align: end;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;
}

.divPaginas{
    padding: 0 20px;
}

.divPaginas p{
    margin: 0 5px;
}

.botonesLog{
    height: 150px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.botonesLog .boton{
    width: 150px;
}


















